* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 999;
    background-color: white;
    box-shadow: 0px 3px 10px #09090970;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

#s1 {
    width: 100%;
    display: flex;
}

.car {
    width: 50%;
}

.car img {
    width: 100%;
}

.car1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.car1 h1 {
    font-size: 48px;
}

.car1 li {
    font-size: 38px;

}



#s2 {
    width: 100%;
    display: flex;
    align-items: center;
}

.e {
    width: 100%;
    padding: 20px;
    font-size:25px ;
}



#s3 {}

.car2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 50vh;
    gap: 80px;
    
}

.car3 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 50vh;
    gap: 80px;
}

.op{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#s4{

}

.wrap{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 50vh;
    gap: 10px;
}

#s5 {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.contato {
    width: 300px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.contato label {
    width: 100%;
    padding: 10px;
    margin-bottom: -25px;
}

.contato input {
    width: 100%;
    padding: 10px;
}

.contato textarea {
    max-width: 100%;
    width: 280px;
    min-width: 255px;
    padding: 10px;
}

.contato button {
    width: 100%;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6)
}



footer {
    height: 50px;
    box-shadow: 0px 3px 10px #090909;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

@media (width <=1000px) {
    #s1 {
        flex-direction: column;
    }

    .car {
        width: 100%;
    }

    .car1 {
        width: 100%;
    }

    .car1 h1 {
        margin-top: 50px;
        font-size: 36px;
    }

    .car1 li {
        font-size: 28px;

    }
}